body {
        text-align: center;
        background-color: rgb(0, 0, 0); 
        color: white;
        font-size: 30px;

}

.header {
        font-size: 90px ;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        color: whitesmoke;
        font-weight: bolder;
        

    }


.chef { 
            width: 1200px;
            height: auto;


} 

.button {
        font-size: 45px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        

}

.mac{
        color: rgb(255, 204, 63);
}

.kimchi{
        color: rgb(211, 21, 0);
}

.garlic{
        color: rgb(100, 220, 98);
}

h4 {
    font-family: monospace;
        font-size: 55px;
}