body {
        text-align: center;
        background-color: rgb(0, 0, 0); 
        font-family: Arial, Helvetica, sans-serif;
        color: white;

}

.header {
        font-size: 60px ;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: whitesmoke;
        font-weight: bolder;
        

    }


.chef { 
            width: 400px;
            height: auto;


} 

